@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

:root {
  --brand-color: #7ca2f4;
  --dark: #121214;
  --gray: #f3f7ff;
  --white: #ffffff;
  --primary-font: "Archivo", sans-serif;
  --secondary-font: "Space Grotesk", sans-serif;
}

*{
  margin: 0;
  padding: 0;
}

body {
  color: var(--dark);
  font-family: var(--primary-font);
  font-size: 0.9rem;
  font-weight: 500;
}

.cabecalho__frete-gratis{
  background-color: var(--gray);
  text-align: center;
  padding: 12px;
}

.cabecalho__conteudo{
  background: url("image/image-michael-jordan.png") center top no-repeat scroll;
  background-size: cover;
  padding: 91px 24px;
}

.cabecalho__conteudo__logo{
  margin-bottom: 40px;
  width: 142px;
}

.cabecalho__conteudo__titulo{
  color: var(--white);
  font-size: 1.6rem;
  margin-bottom: 12px;
}

.cabecalho__conteudo__texto{
  color: var(--white);
  font-size: 1rem;
  font-weight: 300;
}

.conteudo{
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 32px;
}

.conteudo__titulo{
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 12px;
}

.container{
  display: flex;
  flex-direction: column;
}

.conteudo__texto{
  text-align: center;
}

.container__imagem{
  background-color: var(--gray);
  text-align: center;
  padding: 32.5px 47px;
}

.container__jordan{
  margin: 24px 0;
}

.container__jordan__modelo{
  font-size: 1rem;
  margin-bottom: 12px;
}

.container__jordan__marca{
  color: var(--brand-color);
  font-size: 1rem;
}

.container__jordan__valor{
  font-family: var(--secondary-font);
  font-size: 1.25rem;
}